<html>
<head>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/js/page.js"></script>
</head>
<body>
<div id="container">
    <p><span id="message">イベント：</span> <span id="event"></span></p>

    <p id="leave"></p>
</div>
<div id="button" data-memory='' style="position: absolute; cursor: move;"></div>
</body>
</html>
